body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    line-height: 1.6;
    background-color: #fdf5f7;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

#perfil img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

h1 {
    color: #e91e63; /* Rosa mais forte */
}

h2 {
    color: #e91e63; /* Rosa para os títulos */
    margin-top: 20px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

a {
    color: #c2185b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #777;
}
